@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gray-50 text-gray-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-400;
}

/* Custom range input */
input[type="range"] {
  @apply appearance-none bg-transparent cursor-pointer;
}

input[type="range"]::-webkit-slider-track {
  @apply bg-gray-200 h-1 rounded-full;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-3 h-3 bg-secondary-500 rounded-full -mt-1;
}

input[type="range"]::-webkit-slider-thumb:hover {
  @apply bg-secondary-600;
}

.pb-32 {
  padding-bottom: 4rem;
}
